{% extends 'base.html' %}

{% block content %}
{{block.super}}
<div class="container" style="margin-left:10%; margin-left:5%; margin-top:4%">
    <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#nature" data-toggle='pill'>Nature</a></li>
        <li><a href="#animal" data-toggle='pill'>Animals</a></li>
        <li><a href="#art" data-toggle='pill'>Art</a></li>
        <li><a href="#photography" data-toggle='pill'>Photography</a></li>
        <li><a href="#architecture" data-toggle='pill'>Architecture</a></li>
    </ul>
    <div class="tab-content col-lg-4 col-md-4 col-sm-12" style="margin-top:4%">
    
    {% for img in images %}
        {% for cat in img.category.all %}
        <div id="nature" class="tab-pane fade in active">
            {% if cat.category_name == "nature" %}
            <div class="panel panel-primary">
                <div class="panel-body">
                    {% if img.image_url %}
                    <img src="{{img.image_url.url}}" alt="" class="img-rounded" style="margin:3%"/>
                    {% endif %}
                </div>
                <div class="panel-footer">
                    <button class="btn btn-default" style="margin-left:30%"><a href="/image/{{img.id}}">VIEW DETAILS</a></button>
                </div>
            </div>
            {% endif %}
        </div>  
        <div id="animal" class="tab-pane fade">
            {% if cat.category_name == "animal" %}    
            <div class="panel panel-primary">
                    <div class="panel-body">
                        {% if img.image_url %}
                        <img src="{{img.image_url.url}}" alt="" class="img-rounded" style="margin:3%"/>
                        {% endif %}
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-default" style="margin-left:30%"><a href="/image/{{img.id}}">VIEW DETAILS</a></button>
                    </div>
                </div>
            {% endif %}
        </div>
        <div id="art" class="tab-pane fade">
            {% if cat.category_name == "art" %}
            <div class="panel panel-primary">
                    <div class="panel-body">
                        {% if img.image_url %}
                        <img src="{{img.image_url.url}}" alt="" class="img-rounded" style="margin:3%"/>
                        {% endif %}
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-default" style="margin-left:30%"><a href="/image/{{img.id}}">VIEW DETAILS</a></button>
                    </div>
                </div>
            {% endif %}
        </div>
        <div id="photography" class="tab-pane fade">
            {% if cat.category_name == "photography" %}
            <div class="panel panel-primary">
                    <div class="panel-body">
                        {% if img.image_url %}
                        <img src="{{img.image_url.url}}" alt="" class="img-rounded" style="margin:3%"/>
                        {% endif %}
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-default" style="margin-left:30%"><a href="/image/{{img.id}}">VIEW DETAILS</a></button>
                    </div>
                </div>
            {% endif %}
        </div>   
        <div id="architecture" class="tab-pane fade">
            {% if cat.category_name == "architecture" %}
            <div class="panel panel-primary">
                    <div class="panel-body">
                        {% if img.image_url %}
                        <img src="{{img.image_url.url}}" alt="" class="img-rounded" style="margin:3%"/>
                        {% endif %}
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-default" style="margin-left:30%"><a href="/image/{{img.id}}">VIEW DETAILS</a></button>
                    </div>
                </div>
            {% endif %}
        </div> 
        {% endfor %}
    {% endfor %}
    </div>
</div>

{% endblock %}