{% extends 'base.html' %}

{% block content %}
{{block.super}}
<div class="container" style="margin-left:10%; margin-left:5%; margin-top:4%">
    <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#nature" data-toggle='pill'>Nature</a></li>
        <li><a href="#animal" data-toggle='pill'>Animals</a></li>
        <li><a href="#art" data-toggle='pill'>Art</a></li>
        <li><a href="#photography" data-toggle='pill'>Photography</a></li>
        <li><a href="#architecture" data-toggle='pill'>Architecture</a></li>
    </ul>
    <div class="tab-content" style="margin-top:4%">
    
    {% for img in images %}
        {% for category in img.category.all %}
        
            {% if category.category_name == "nature" %}
            <div id="nature" class="col-lg-4 col-md-4 col-sm-12 tab-pane fade in active">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <img src="{{img.image_url.url}}" alt="{{img.name}}">
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-default" style="margin-left:30%"><a href="/image/{{img.id}}">VIEW DETAILS</a></button>
                    </div>
                </div>
            </div>
            {% elif category.category_name == "animal" %}
            <div id="animal" class="col-lg-4 col-md-4 col-sm-12 tab-pane fade">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <img src="{{img.image_url.url}}" alt="{{img.name}}">
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default" style="margin-left:30%"><a href="/image/{{img.id}}">VIEW DETAILS</a></button>
                        </div>
                    </div>
            </div>
            {% elif category.category_name == "art" %}
            <div id="art" class="col-lg-4 col-md-4 col-sm-12 tab-pane fade">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <img src="{{img.image_url.url}}" alt="{{img.name}}">
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default" style="margin-left:30%"><a href="/image/{{img.id}}">VIEW DETAILS</a></button>
                        </div>
                    </div>
            </div>
            {% elif category.category_name == "architecture" %}
            <div id="architecture" class="col-lg-4 col-md-4 col-sm-12 tab-pane fade">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <img src="{{img.image_url.url}}" alt="{{img.name}}">
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default" style="margin-left:30%"><a href="/image/{{img.id}}">VIEW DETAILS</a></button>
                        </div>
                    </div>
            </div>
            {% else %}
            <div id="photography" class="col-lg-4 col-md-4 col-sm-12 tab-pane fade">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <img src="{{img.image_url.url}}" alt="{{img.name}}">
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default" style="margin-left:30%"><a href="/image/{{img.id}}">VIEW DETAILS</a></button>
                        </div>
                    </div>
            </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}