{% extends 'base.html' %}

{% block content %}
{{block.super}}
<div class="container" style="margin-left:10%; margin-left:5%; margin-top:4%">
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#mara" data-toggle='tab'>Maasai Mara</a></li>
        <li><a href="#nai" data-toggle='tab'>Nairobi</a></li>
        <li><a href="#msa" data-toggle='tab'>Mombasa</a></li>
        <li><a href="#malindi" data-toggle='tab'>Malindi</a></li>
        <li><a href="#ksm" data-toggle='tab'>Kisumu</a></li>
    </ul>
    <div class="tab-content" style="margin-top:4%">
    
    {% for img in images %}
        {% for location in img.location.all %}
            {% if location.place == 'Nairobi' %}
                <div id="nai" class="col-lg-4 col-md-4 col-sm-12 tab-pane fade">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <img src="{{img.image_url.url}}" alt="{{img.name}}">
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default" style="margin-left:30%"><a href="/image/{{img.id}}">VIEW DETAILS</a></button>
                        </div>
                    </div>
                </div>

            {% elif location.place == 'MaasaiMara' %}
            <div id="mara" class="col-lg-4 col-md-4 col-sm-12 tab-pane fade">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <img src="{{img.image_url.url}}" alt="{{img.name}}">
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default" style="margin-left:30%"><a href="/image/{{img.id}}">VIEW DETAILS</a></button>
                        </div>
                    </div>
            </div>

            {% elif location.place == 'Kisumu' %}
            <div id="ksm" class="col-lg-4 col-md-4 col-sm-12 tab-pane fade">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <img src="{{img.image_url.url}}" alt="{{img.name}}">
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default" style="margin-left:30%"><a href="/image/{{img.id}}">VIEW DETAILS</a></button>
                        </div>
                    </div>
            </div>
            {% elif location.place == 'Malindi' %}
            <div id="malindi" class="col-lg-4 col-md-4 col-sm-12 tab-pane fade">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <img src="{{img.image_url.url}}" alt="{{img.name}}">
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default" style="margin-left:30%"><a href="/image/{{img.id}}">VIEW DETAILS</a></button>
                        </div>
                    </div>
            </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}