@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand');

h1{
  font-family: 'Josefin Sans', sans-serif;
}
body{
  font-family: 'Quicksand', sans-serif;
}
h1{
  color: crimson;
}